<nav class="navbar navbar-expand-lg fixed-top navbar-color ">
    <a class="navbar-brand " href="/"><img alt="PAR" class="align-top" src="/dist/images/pic_logo_small.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="navbar-toggler-icon">test</span>-->
        <span class="dark-blue-text"><i class="fa fa-bars fa-1x"></i></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active pl-2 pr-2">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="/Home/About">Assess</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="/Home/Contact">Clients</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="/Home/Contact">Reports</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="/Home/Contact">Purchase</a>
            </li>
            <li class="nav-item px-2"> 
                <a class="nav-link" href="/Home/Contact">Account Management</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 hidden-lg-down">
            <input id="nav-search" class="form-control mr-sm-2 " type="search"  placeholder="Search assessments and clients" aria-label="Search">
        </form>
        <div class="dropdown">
            <button class="btn dropdown-toggle btn-link nav-account-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Justin Davis
            </button>
            <div id="nav-dropdown-menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</nav>
